* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-group label {
  margin-bottom: 0.5rem;
}

.input-group input, .input-group textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus, .input-group textarea:focus {
  outline: none;
  border-color: #007bff;
}

.hidden {
  display: none;
}

.btn-success {
  min-width: 48px;
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #218838;
}